*{
    padding: 0;
    margin: 0;
    color: black;
}
#portfolio{
    height: 60px;
    background-color: white;
    text-align: right;
}
a{
    margin-right: 50px;
    text-decoration: none;
}
#blank{
    height: 350px;
    width: 350px;
    border-radius: 50%;
    background-color: beige;
    margin: 5% 0% 0% 25%;
    display: inline-block;
    transition: all 2s ease-in;
    transform: scale(1);
}
#logo{
    margin-right: 2px;
}
#mypicture{
    text-align: center;
    height: 350px;
    width: 350px;
    border-radius: 50%;

}
#aboutme{
    height: 200px;
    width: 200px;
    position: absolute;
    top: 30%;
    right: 20%;
    font-family: arial;
    
}
h4{
    text-transform: capitalize;
    margin-bottom: 5px;
}
h2{
    text-transform: capitalize;
    margin-bottom: 10px;
}
